<div class="container">
    <div class="form-box">
        <form class="form" action="/Clientes/SalvarDados" method="post">
            <span class="title">Cadastrar Produto</span>
            <span class="subtitle">Insira os dados do Produto abaixo.</span>
            <div class="form-container">
                <input type="text" class="input" name="Nome" placeholder="Nome do Produto">
                <input type="text" class="input" name="Quantidade" placeholder="Quantidade">
                <input type="int" class="input" name="Valor" placeholder="Valor">
            </div>
            <button>Cadastrar</button>
        </form>
    </div>
</div>